<p>
  <mat-toolbar>
    <span>Tour Transfer</span>
    <div class="container">
      <div class="row">
          <div class="col-md-8 header">
            <button mat-raised-button>Anasayfa</button>
            <button mat-raised-button>Kurumsal</button>
            <button mat-raised-button>Bölgeler</button>
            <button mat-raised-button>Haberler</button>
            <button mat-raised-button>Yorumlar</button>
            <button mat-raised-button>İletişim</button>
          </div>
      </div>
    </div>
  </mat-toolbar>
</p>
