<p>
  <mat-toolbar>
    <span>Tour Transfer</span>
    <div class="container">
      <div class="row">
          <div class="col-md-8 header">
            <p-button label="Anasayfa" styleClass="p-button-raised p-button-text"></p-button>
            <p-button label="Kurumsal" styleClass="p-button-raised p-button-text"></p-button>
            <p-button label="Bölgeler" styleClass="p-button-raised p-button-text"></p-button>
            <p-button label="Haberler" styleClass="p-button-raised p-button-text"></p-button>
            <p-button label="Yorumlar" styleClass="p-button-raised p-button-text"></p-button>
            <p-button label="İletişim" styleClass="p-button-raised p-button-text"></p-button>
          </div>
      </div>
    </div>
  </mat-toolbar>
</p>
